form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 30px;
}

.inputDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
}

label {
	font-size: 1.5rem;
	position: relative;
	left: -10px;
}

input {
	width: 100%;
	border: 1px solid transparent;
	padding: 5px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

input:focus {
	border-color: gray;
}

input:focus::placeholder {
	color: darkgray;
}

textarea {
	resize: vertical;
}

button {
	width: 100%;
	font-size: 1.3rem;
	padding: 6px 12px;
	border-radius: 12px;
	cursor: pointer;
	background-color: #0d6efd;
	border: none;
	padding: 8px 16px;
	transition: all 0.3s ease;
}

button:hover {
	transform: scale(1.01);
	background-color: #0b5ed7;
}

button:active {
	transform: scale(0.95);
	background-color: #0a58ca;
}
