.order {
	padding: 15px;
	border: 1px solid gray;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	max-width: 150px;
}

.imformationDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}
